/* Roboto font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #1f2937;
  --hero-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --action-controller: #3882f6;
  --information-header: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* HEADER HEADER */
header {
  background-color: var(--dark-color);
}

header .container .logo {
  color: var(--hero-text-color);
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
} 

header .container #menu li {
  list-style: none;
  display: block;
  opacity: 0.8;
}

header .container #menu li a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: clamp(.8rem, 2vw, 1rem);
}
/* HEADER HEADER */


/* Desktop Responsive */
@media (min-width: 750px) {

  /* all containers */
  .container {
    width: 100%;
    max-width: 850px;
    margin: auto;
  }
  
  /* -- header --- */
  header {
    padding: 1.5rem 0;
  }
  header .container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .container .nav-bar {
    display: flex;
    align-items: center;
  }
  
  header .container .nav-bar #menu {
    display: flex;
    gap: 1.5rem;
  }
  /* -- header --- */
}
/* Desktop Responsive */


/* Small screen Responsive */
@media (max-width: 750px) {
  /* for all container */
  .container {
    padding: 0 1rem;
  }
  /* Small screen Responsive */

}