/* Roboto font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #1f2937;
  --hero-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --action-controller: #3882f6;
  --information-header: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

body {
  width: 100%;
  min-height: 100vh;
}