/* Roboto font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #1f2937;
  --hero-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --action-controller: #3882f6;
  --information-header: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
}

/* HEADER HEADER */
header {
  background-color: var(--dark-color);
}

header .container .logo {
  color: var(--hero-text-color);
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
} 

header .container #menu li {
  list-style: none;
  display: block;
  opacity: 0.8;
}

header .container #menu li a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: clamp(.8rem, 2vw, 1rem);
}
/* HEADER HEADER */

/* MAIN MAIN */
main {
  background-color: var(--dark-color);
}

main .container .contents .page-heading {
  color: var(--hero-text-color);
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  font-weight: bold;
}

main .container .contents .page-description {
  color: var(--secondary-text-color);
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  font-weight: bold;
}

main .container .contents .sign-up-btn {
  background-color: var(--action-controller);
  border: none;
  display: block;
  border-radius: .5rem;
  width: 100%;
  max-width: 110px;
  height: 30px;
  color: var(--secondary-text-color);
  font-weight: bold;
}

main .container .contents.image-container {
  width: fit-content;
}

/* MAIN MAIN */


/* Desktop Responsive */
@media (min-width: 750px) {

  /* all containers */
  .container {
    width: 100%;
    max-width: 850px;
    margin: auto;
  }
  
  /* -- header --- */
  header {
    padding: 1.5rem 0;
  }
  header .container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .container .nav-bar {
    display: flex;
    align-items: center;
  }
  
  header .container .nav-bar #menu {
    display: flex;
    gap: 1.5rem;
  }
  /* -- header --- */

  /* -- main -- */
  main {
    padding: 5rem;
  }

  main .container {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  main .container .contents {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  main .container .image-container #grid-image {
    width: 260px;
    height: auto;
  }
  /* -- main -- */
}
/* Desktop Responsive */


/* Small screen Responsive */
@media (max-width: 750px) {
  /* for all container */
  .container {
    padding: 0 1rem;
  }
 
  /* MAIN MAIN */
  main {
    padding: 2rem 0;
  }
  main .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  main .container .contents {
    display: flex;
    flex-direction: column-revers;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  main .container .contents .sign-up-btn {
    max-width: 210px;
    margin: 0 auto;
  }

  main .container .image-container {
    display: block;
    margin: 1rem auto;
  }

  #grid-image {
    display: block;
    margin: auto;
    align-self: center;
    border: 2px solid green;
  }
  /* MAIN MAIN */
 
  /* Small screen Responsive */


}